<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IMAGE_MOUSE" value="D:\Freeland\WindowsFormsApp1\mouse.jpg" />
    <add key="IMAGE_MOUSE_RIGHT_CLICK" value="D:\Freeland\WindowsFormsApp1\mouse_right_click.jpg" />
    <add key="IMAGE_MOUSE_LEFT_CLICK" value="D:\Freeland\WindowsFormsApp1\mouse_left_click.jpg" />

    <add key="TIME_CLEAR" value="500" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>